@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Скидання паролю";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль було скинуто. Будь ласка, <a asp-page="./Login">натисніть сюди, щоб ввійти</a>.
</p>
