@{
    ViewData["Title"] = "Privacy Policy";
}


<p style="text-align:center;font-size:30px;">Мяу</p>
<p style="text-align:center;"><img src="https://memepedia.ru/wp-content/uploads/2023/01/kot-dingus-mem-768x512.jpg"></p>
