@model FootballApp2.Models.Team

@{
    ViewData["Title"] = "Створення команди";
}
<html>
<body>


<h1>Створити</h1>

<h4>Команда</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DivName" class="control-label"></label>
                <input asp-for="DivName" class="form-control" />
                <span asp-validation-for="DivName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <input type="hidden" id="CountryId" name="CountryId" />
                    <input id="CountryInput" class="form-control" />
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись назад</a>
</div>
</body>
</html>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#CountryInput").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Countries/CountryNames/',
                        data: { "s": request.term },
                        type: "POST",
                        success: function (data) {
                            console.log(data);
                            var res = $.map(data, function (item) {
                                return {
                                    label: item.name,
                                    value: item.id
                                };
                            });
                            console.log(res);
                            return response(res);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //alert(i.item.label);
                    e.preventDefault();
                    $("#CountryId").val(i.item.value);
                    $("#CountryInput").val(i.item.label);
                    
                },
                minLength: 1
            });
        });
    </script>
}
