<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0" />
    <meta name="description" content="Use our football database to find information about football players, football teams and football leagues all over the world.">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min_5.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="apple-touch-icon" href="/Images/AppleTouch.jpeg">
    <link rel="icon" type="image/png" href="/Images/favicon.png" />
</head>

<body class="gradient-custom">
    
    <style>
        .gradient-custom {

            background: rgb(242,239,17);
            background: linear-gradient(0deg, rgba(242,239,17,1) 0%, rgba(45,253,251,1) 100%);
            
        }

        html, body {
            max-width: 100%;
            
        }
    </style>
    
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(250,57,0,1) 50%, rgba(0,84,183,1) 100%);">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>Футбольна база</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Політика приватності</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Countries" asp-action="Index">Країни</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Players" asp-action="Index">Гравці</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Teams" asp-action="Index">Команди</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Diagrams" asp-action="Index">Діаграми</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Maps" asp-action="Index">Мапи</a>
                        </li>
                        <feature name="Cat">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Cat" asp-action="Index">Кіт</a>
                            </li>
                        </feature>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Azure" asp-action="Index">Blob Storage</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 50px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position: absolute;left: 0;bottom: 0; width:100%">
        <div class="container">
            &copy; 2023 - Футбольна база
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
